
/* ---------- General Layout ---------- */
@page {
 size: A4;
 margin: 15px 0;
}

@media print {
body { width: 100%; page-break-after:always; padding-top:0px !important;  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	background: none;
	}
img,p{  page-break-before: auto;    page-break-after: auto;     page-break-inside: avoid;    display: block; position: relative;}
}

/*Base css added*/
* { margin:0; padding:0 }
h1, h2, h3, h4, h5 { line-height:normal; font-weight:400; margin:0; padding:0;page-break-inside:avoid;   page-break-after: avoid;     page-break-before: avoid;  }
.link-banner{page-break-after:always; page-break-inside:avoid;   page-break-after: avoid;     page-break-before: avoid; }
.clear { clear:both; display:block }
#block-system-main .node.details.group .group_stats.full .statistics-box h4 { font-size:12px !important; }
#block-system-main .node.details.group .group_stats.full .statistics-box { float:left !important; display:inline-block !important; width:auto !important; height:50px !important; }
#block-common-utils-mygov-statistics-block .statistics-box {width:22%; height:200px; background-size:100% 100%; margin-left:2.5%;}
#block-common-utils-mygov-statistics-block .stats_box .number{padding:4px;}
#block-common-utils-mygov-statistics-block .stats_box .desc{padding-top:0px;}
.container .twelve.columns {width: 1060px; font-size:120%;}
.container .four.columns {display:none;}


/* ---------- Node Pages ---------- */
/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */


/* underline all links */
a:link, a:visited { text-decoration: underline !important; }
/* Don't underline header */
#site-name a:link, #site-name a:visited { text-decoration: none !important; }
/* Un-float the content */
#content, #content .section { float: none; width: 100%; margin: 0 !important; padding: 0 !important; }
/* Turn off any background colors or images */
body, #page-wrapper, #page, #main-wrapper, #main, #content, #content .section { color: #000; background-color: transparent !important; background-image: none !important; }
/* Hide sidebars and nav elements */
#skip-link, #navigation, .region-sidebar-first, .region-sidebar-second, #footer, .breadcrumb, div.tabs, .links, .taxonomy, .book-navigation, .forum-topic-navigation, .pager, .feed-icons { visibility: hidden; display: none; }
/* If you un-comment the "page { overflow-y: hidden; }" ruleset, Firefox clips
   the content after the first page. */
#page-wrapper { overflow-y: visible; }
.container { width:auto; }
#main-container{display:block;}
.view-id-featured_task .views-row .content_type { top: 103px !important; }
#block-views-homepage-slider-block .scroll-down-area { width: 960px; }
/*.statistics-box { width: 150px; height: 160px; }*/
.statistics-box .group_name, .statistics-box .task_name, .statistics-box .discuss_name, .statistics-box .user_name { font-size: 15px; }
.statistics-box .back_slide p, .statistics-box .slide p { min-height: auto; padding-bottom: 0 !important; }
.statistics-box.stats_user .back_slide p { margin-top: 15px; height: 100px; }
body.node-type-simple-page #block-system-main iframe { width:100%; }
body.node-type-talk #block-system-main .node.details.talk { text-align:center; }
body.node-type-talk #block-system-main .node.details.talk .field-item.even >p { float:none; }
body.node-type-talk #block-system-main .node.details.talk .twitter { width:100%; margin:20px 0 10px; }
.footer-wrapper #block-menu-menu-content-menu { width: 960px !important; }
.footer-wrapper #block-menu-menu-content-menu ul li { margin: auto 8.5px auto auto; }
#block-views-homepage-slider-block .scroll-down-area { width: 960px; }
.footer-wrapper .bottom-right #block-block-25 { padding: 0 0 0 100px !important; margin-left: 30px !important; }
#block-system-main .view-id-groups .views-row, #-do-discuss-filter-output-wrapper .view-id-tasks .views-row, #-do-discuss-filter-output-wrapper .view-id-groupissue .views-row, #-do-discuss-filter-output-wrapper .view-id-group-talks .views-row, #-do-discuss-filter-output-wrapper .view-id-blogs .views-row { margin: 0 0 15px; }
.content_box.group_box { width: 200px; }
ul#activities li { width: 14%; }
body.page-user-register .region-content, body.page-user-login .region-content { margin: 0 auto; width: 90%; }
#content.container.newClass #listingmiddlecontent_group_div.show .content_box.group_box { width: 287px; }
#content.container.newClass #listingmiddlecontent_group_div.show #block-system-main.grid .view-id-groups .views-row, #content.container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.grid .view-id-tasks .views-row, #content.container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.grid .view-id-groupissue .views-row, #content.container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.grid .view-id-blogs .views-row, #content.container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.grid .view-id-group_talks .views-row { margin: 0 23px 23px 0; width: 22.15%; }
 #content.container.newClass #listingmiddlecontent_group_div.show #block-system-main.grid .view-id-groups .views-row:nth-child(4n), #content.container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.grid .view-id-tasks .views-row:nth-child(4n), #content.container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.grid .view-id-groupissue .views-row:nth-child(4n), #content.container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.grid .view-id-blogs .views-row:nth-child(4n), #content.container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.grid .view-id-group_talks .views-row:nth-child(4n) {
 margin-right:0px;
}
body.page-groups #block-system-main .view-id-groups .do_desc .group_stats.teaser .statistics-box { height:auto; margin-bottom:0; display:inline-block; float:left;}
body.page-groups #block-system-main.list .view-id-groups .do_desc .group_stats.teaser .statistics-box { clear: none; }
body.page-groups #block-system-main.grid .view-id-groups .do_desc .group_stats.teaser .statistics-box.stats_blog, body.page-groups #block-system-main.grid .view-id-groups .do_desc .group_stats.teaser .statistics-box.stats_talk { width: auto; }
body.page-groups #block-system-main.grid .view-id-groups .do_desc .view_group { bottom: 151px; }
body.page-groups #block-system-main.list .view-id-groups .views-row .do_right.group_img, #-do-discuss-filter-output-wrapper.list .view-id-groupissue .views-row .do_right, #-do-discuss-filter-output-wrapper.list .view-id-group_talks .views-row .do_right, #-do-discuss-filter-output-wrapper.list .view-blogs .views-row .blog_img.fl, #-do-discuss-filter-output-wrapper.list .view-tasks .views-row .do_right { width: 225px; }
body.page-groups #block-system-main.list .view-id-groups .views-row .do_desc { width: 60%; }
#-do-discuss-filter-output-wrapper.list .view-id-groupissue .views-row .description_wrappper, #-do-discuss-filter-output-wrapper.list .view-id-group_talks .views-row .description_wrappper, #-do-discuss-filter-output-wrapper.list .view-blogs .views-row .description_wrappper, #-do-discuss-filter-output-wrapper.list .view-tasks .views-row .description_wrapper { width: 100%; float: none; }
body.page-home-do #-do-discuss-filter-output-wrapper.list .view-id-tasks .time_box { position: relative; padding: 15px 0 10px; width: 100%; clear: both; }
#-do-discuss-filter-output-wrapper.list .view-id-groupissue .views-row .description_wrappper .desc_inner_wrap { display: table; }
#-do-discuss-filter-output-wrapper.list .view-id-groupissue .views-row .description_wrappper .time_box { clear: both; }
#-do-discuss-filter-output-wrapper.list .view-blogs .views-row .description_wrappper { padding-bottom: 10px; }
#-do-discuss-filter-output-wrapper.list .view-blogs .views-row .blog_desc_wrap { padding: 15px 10px; clear: both; }
#-do-discuss-filter-output-wrapper.list .view-id-blogs .views-row .blog_teaser span.blog_date { padding: 0 20px 7px 0; width: auto; }
body.page-groups .container.newClass #listingmiddlecontent_group_div.show #block-system-main.list .view-id-groups .views-row .do_desc, .container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.list .view-id-groupissue .views-row .description_wrappper, .container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.list .view-id-group_talks .views-row .description_wrappper, .container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.list .view-blogs .views-row .description_wrappper, .container.newClass #listingmiddlecontent_group_div.show #-do-discuss-filter-output-wrapper.list .view-tasks .views-row .description_wrapper { width: 72%; float: left; }
body.page-groups #block-system-main.list .view-id-groups .do_desc .group_stats.teaser .statistics-box a span.size- { padding: 3px; }
body.page-groups #block-system-main.list .view-id-groups .do_desc .view_group { width: auto; padding: 5px; margin-right: 0; }
.detail_top .top_nav_wrapper { width: 61.5%; }
#-do-discuss-filter-output-wrapper .view-id-polls .views-row .poll_featured .poll .bar, #block-system-main .poll_des .bar { width: 92%; }
.comment_content { width: 85%; }
#block-system-main.grid .view-id-groups .views-row { min-height:437px; }
.comment_extra_links .voting_wrap .like-container-entity-comment, .comment_extra_links .voting_wrap .dislike-container-entity-comment { margin-right:6px; }
.footer-container .footer_logo { padding-left: 30px; width: 511px; }
.footer-container .footer_logo li:last-child { margin-right: 0; }
.footer-container .footer_logo li { margin-right: 34px; }
.server_info { padding-left: 30px }
.view-podcast .desc_inner { min-height:260px; }
body.page-node-add-team .node-team-form #edit-field-invitees .fieldset-wrapper .field-name-title-field, body.page-node-add-team .node-team-form #edit-field-invitees .fieldset-wrapper .field-type-email, body.page-node-add-team .node-team-form #edit-field-invitees .fieldset-wrapper .field-name-field-invitee-mobile-no, body.page-node-edit .node-team-form #edit-field-invitees .fieldset-wrapper .field-name-title-field, body.page-node-edit .node-team-form #edit-field-invitees .fieldset-wrapper .field-type-email, body.page-node-edit .node-team-form #edit-field-invitees .fieldset-wrapper .field-name-field-invitee-mobile-no { width:33%; }
body.page-node-add-team .node-team-form .form-wrapper .fieldset-wrapper table.ief-entity-table tr th, body.page-node-edit .node-team-form .form-wrapper .fieldset-wrapper table.ief-entity-table tr th { font-size:12px; }
body.page-node-add-team .node-team-form .form-wrapper .fieldset-wrapper table.ief-entity-table tr td.inline-entity-form-node-title, body.page-node-edit .node-team-form .form-wrapper .fieldset-wrapper table.ief-entity-table tr td.inline-entity-form-node-title { width:240px; }
body.page-node-add-team .node-team-form .form-wrapper .fieldset-wrapper table.ief-entity-table tr th.ief-sort-order-header, body.page-node-edit .node-team-form .form-wrapper .fieldset-wrapper table.ief-entity-table tr th.ief-sort-order-header { width:110px; }
body.page-node-add-team .node-team-form .form-wrapper .fieldset-wrapper table.ief-entity-table tr td .ief-entity-operations input, body.page-node-edit .node-team-form .form-wrapper .fieldset-wrapper table.ief-entity-table tr td .ief-entity-operations input { margin:5px!important; }
body.page-node-add-team .node-team-form #edit-field-invitees .fieldset-wrapper #edit-field-invitees-und-form-actions input, body.page-node-add-team .node-team-form #edit-field-invitees .fieldset-wrapper .form-wrapper input[value="Update Invitee"], body.page-node-add-team .node-team-form #edit-field-invitees .fieldset-wrapper .ief-row-form input[value="Remove"], body.page-node-add-team .node-team-form #edit-field-invitees .fieldset-wrapper .form-wrapper input[value="Cancel"], body.page-node-add-team .node-team-form #edit-field-invitees .fieldset-wrapper .form-wrapper input[value="Add Invitee"], body.page-node-edit .node-team-form #edit-field-invitees .fieldset-wrapper #edit-field-invitees-und-form-actions input { margin-top:10px; }
#block-system-main .node.details.task .team_submission_area .invite_msg { width:100%; }
#block-system-main .node.details.task .team_submission_area .invitation_wrapper .flag-accept-invitation, #block-system-main .node.details.task .team_submission_area .invitation_wrapper .flag-reject-invitation { margin-top:10px; }
body.page-node-add-team .node-team-form #edit-title-field input { width:94.8%; }
#listingmiddlecontent_group_div{float:none !important;}

#block-views-homepage-slider-block{display:none;}
#poll_note{display:none;}
.scroll-down-area{display:none;}
.footer-wrapper{margin-top:0px !important;}
.slider-wrapper{display:none;}
.top-right,.header-message {display:none;}
/*#block-common-utils-mygov-statistics-block::before, #block-views-featured-task-block-5::before{display:none;}*/
.top_wrapper.sticky, .top_wrapper{position:relative;}
.header-logo{width:121px;}
.header-nav{opacity:1; height:auto; display:block; }
.header-nav .links{display:block;  visibility: visible;}
.section-header-wrapper{height:71px;}
.top_wrapper .container.container-header {
    background-position: 102px 3px;
    background-size: auto 68px;
    height: 70px;
}
/*#block-common-utils-mygov-statistics-block, #block-views-featured-task-block-5{margin-bottom:0px; padding-bottom:0px; }*/
.stats_desc .user_count span, .stats_desc .submission_count span, .stats_desc .comments_count_theme span{font-size:24px;}
#block-common-utils-mygov-statistics-block{padding-top:60px;}
.footer-wrapper #block-menu-menu-content-menu .content_menu_title h2{font-size:200%;}
.footer-wrapper #block-menu-menu-content-menu .content{float:left;}
#block-common-utils-mygov-statistics-block .stats_box .desc{font-size:10px;}


.cube_wrap,.statistics-desc-slider .stats_desc .icon_field,.dr_box,.statistics-desc-slider .stats_desc .detail_block::after{display: none;}
.statistics-desc-slider .stats_desc .detail_block{visibility: visible; opacity:1; position: static;}
.statistics-desc-slider .slide{flex-wrap:wrap;}
.statistics-desc-slider .stats_desc{width:31%; margin-bottom: 20px; justify-content: center; }
.view-whats-new .view-content .views-row .views-field-field-thumbnail,.container-wrapper .view-featured-task .view-content .views-row .field-type-image{display: none;}
.view-whats-new .view-content .views-row,.container-wrapper .view-featured-task .view-content .views-row{width:100%; margin: 0 0 15px;}
.scheme-icon,.footer-top-wrapper #block-common-utils-app-download-block,.deleloped-by-section .social-content,.server_info{display: none;}
.footer-top-wrapper .footer-links{width:100%; display:none;}
.footer-top-wrapper{padding-top:0px;}
.section-top-wrapper,#block-menu-menu-content-menu ul li span:last-child::after{display:none;}
.container-header div:not(.header-logo),#block-menu-menu-content-menu ul li span.count_span,.service-footer-wrapper,#sf-chatbot-container,.front .sticky-menu-main{display:none;}
.statistics-desc-slider{width:auto; margin-bottom:20px;}
.container-wrapper .view-featured-task .view-content{margin-left:0px;}
#block-views-whats-new-block,.container-wrapper .view-featured-task { margin-bottom: 0px;}
#block-views-featured-task-block-5{margin-top:0px; page-break-before: always;}
.main-activities-status .block-menu{text-align:left;}
.content_menu_title{width:100%;}
#block-menu-menu-content-menu ul li{width:180px; height:auto; margin-bottom:15px;}
#block-menu-menu-content-menu ul li span:last-child{visibility:visible; opacity:1; position:static;}
#block-menu-menu-content-menu ul li a::after{bottom:43px; }
#section2{width: 100%; page-break-after:always;}
.statistics-desc-slider .stats_desc.stats_discuss{border:none; }
#main-container #featured{display:none;}
.view-content .views-row .field-name-field-thumb-image{display:none;}
.view-discussion .view-content, .view-group-poll .view-content, .view-talks .view-content, .view-tasks .view-content, .view-blogs .view-content, .view-search-mygov .view-content, .view-groups .view-content{margin-right:0px;}
.view-discussion .views-row, .view-group-poll .views-row, .view-talks .views-row, .view-tasks .views-row, .view-blogs .views-row, .view-search-mygov .views-row, .view-groups .views-row{margin-right:0px; width:100%;}
.bottom_nav_wrapper{display:none;}
 .views-row .description_wrapper{padding-bottom:0px !important; min-height:0px !important;}
 .view-discussion .views-row .caption_btn, .view-group-poll .views-row .caption_btn, .view-talks .views-row .caption_btn, .view-tasks .views-row .caption_btn, .view-blogs .views-row .caption_btn, .view-search-mygov .views-row .caption_btn, .view-groups .views-row .caption_btn{display:none !important;}
 .view-discussion .views-row .description_wrapper .title, .view-group-poll .views-row .description_wrapper .title, .view-talks .views-row .description_wrapper .title, .view-tasks .views-row .description_wrapper .title, .view-blogs .views-row .description_wrapper .title, .view-search-mygov .views-row .description_wrapper .title, .view-groups .views-row .description_wrapper .title{padding:0px; margin-bottom:5px;}
 .cg .p1_box{padding:5px; float:none; width:auto; height:auto;}
 .cg .scroll-wrap{height:auto;}
 .card-btn, input[type="submit"].card-btn, .card-login-btn{display:none;}
 .view-card-entry > .view-content{display:flex; flex-wrap:wrap;}
 .cg .card-login-btn, .cg .card-btn, .cg input[type="submit"].card-btn{display:none;}
 .detail_top .node-meta,.podcast-download-wrap,.view-campaign-view .view-filters,.view-campaign-view .campaign_img,.view-campaign-view .view_campaign a{display:none;}
 .view-podcast .desc_inner{min-height:0px;}
 .view-campaign-view .view-content{margin-left:0px;}
 .view-campaign-view .views-row{margin:0 0 5px; width:100%; border-bottom:1px solid #000;}
 .view-campaign-view .desc_wrap { max-height: initial; height:auto;}
.view-content .views-row .field-type-image,.view-id-blogs .views-row .blog_teaser .blog_share,.node-type-advance-poll .node-meta, .node-type-mygov-survey .node-meta{display:none;}
.deleloped-by-section .content{width:auto;}
#block-system-main.grid .view-id-groups .views-row{min-height:0px;}
body.page-groups .view-id-groups .do_desc .group_stats.teaser .group_info_wrap{display:inline-block !important; position:static;}

body.page-groups .view-id-groups .do_desc .group_stats.teaser > span::after{display:none;}
.overview-video{display:none;}
.mCSB_scrollTools{display:none !important;}
.site-wrapper{overflow:visible;}
.cg .view-card-entry .views-row{width:100%; display:block; margin-left:0px; float:none;}
.view-card-entry > .view-content{margin-left:0px;}
.masonry{height:auto !important;}
.linkto-us-box{position: static !important;}
