/*
 Author: Meet Shah
 @GIPL
*/
:root {
  --p-color: #124d5c;
  --s-color: #f3810d;
  /* --teal-color: #448faf; */
  --y-color: #fec32b;
  --g-color: #637e32;
  /* --s-color: #666; */
  --grey-color: #6c6c6c;
  --tb-color: #111;
}
html,
body {
  height: 100%;
}
body {
  background: #fff;
  font-size: 14px;
  color: var(--tb-color);
  line-height: 1.5;
}
a {
  transition: 0.2s all ease;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/*-Common Style-*/
.f-400 {
  font-weight: 400 !important;
}
.f-500 {
  font-weight: 500 !important;
}
.f-600 {
  font-weight: 600 !important;
}
.bg-primary {
  background: var(--p-color) !important;
}
.bg-secondary {
  background: var(--s-color) !important;
}
.bg-teal {
  background: var(--teal-color) !important;
}
.bg-green {
  background: var(--g-color) !important;
}
.bg-yellow {
  background: var(--y-color) !important;
}
.text-primary {
  color: var(--p-color) !important;
}
.text-secondary {
  color: var(--s-color) !important;
}
.text-teal {
  color: var(--teal-color) !important;
}
.text-green {
  color: var(--g-color) !important;
}
.text-yellow {
  color: var(--y-color) !important;
}
.filter-img-white {
  filter: brightness(0) invert(1);
}
.btn {
  padding: 6px 14px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 0rem;
  line-height: 1.2;
}

.btn-primary {
  color: #fff;
  background: var(--p-color);
  border-color: var(--p-color);
}

.btn-primary:hover,
.btn-outline-primary {
  background: #fff;
  color: var(--p-color);
  border-color: var(--p-color);
}
.btn-secondary {
  color: #fff;
  background-color: var(--s-color);
  border-color: var(--s-color);
}
.btn-secondary:hover {
  background: #fff;
  color: var(--s-color);
  border-color: var(--s-color);
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #44a1bb7e;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0d7b99;
  border-color: #0d7b99;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #44a1bb7e;
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 0.12rem #f3800d79;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #d6720f;
  border-color: #d6720f;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #f3800d79;
}

label {
  font-weight: 500;
  margin-bottom: 2px;
}
.custom-control-label {
  font-weight: 400;
}
.form-control {
  font-size: 14px;
  border-color: #bbbbbb;
  height: calc(1.5em + 0.5rem + 0px);
  padding: 0.25rem 0.5rem;
  border-radius: 0;
  transition: 0.15s all ease-in-out;
  background: #f9f9f9;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333 !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #333 !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #333 !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #333 !important;
}
.custom-file {
  height: calc(1.5em + 0.5rem + 0px);
}
.custom-file-input {
  height: calc(1.5em + 0.5rem + 0px);
}
.custom-file-label {
  height: calc(1.5em + 0.5rem + 0px);
  padding: 0.25rem 0.5rem;
  background: #f9f9f9;
}
.custom-file-label::after {
  height: calc(1.5em + 0.5rem + 0px);
  padding: 0.25rem 0.5rem;
  background: var(--s-color);
  color: #fff;
}
.input-group-text {
  padding: 0.25rem 0.5rem;
  line-height: 1;
  border: 1px solid #ccc;
  /* border-radius: 0; */
  color: var(--s-color) !important;
  background: #eee;
  font-size: 14px;
}
.input-group-text i {
  font-size: 15px;
}
.form-control:focus,
.custom-file-input:focus {
  box-shadow: none;
  outline: 0;
  border-color: var(--p-color);
}
textarea {
  resize: auto !important;
}
.table td,
.table th {
  padding: 0.2rem;
}
.card {
  margin-bottom: 1rem;
  border-radius: 0rem;
  box-shadow: 0 1px 15px 1px rgba(123, 123, 123, 0.09);
  border-color: var(--p-color);
}
.card-header {
  padding: 0.35rem 0.75rem;
  position: relative;
  border-radius: 0rem !important;
}
.card-body,
.card-footer {
  padding: 1rem;
}
.card-footer {
  background: #fff;
}
.card-title {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
.card-head-bg {
  background: var(--p-color);
}
.card-head-bg .card-title {
  color: #fff;
}
.header-element {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
}
.header-element a {
  margin: 0;
}
.card-head-bg .header-element > a {
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
}
a i,
button i {
  margin-right: 4px;
}
/* Custom Checkbox */
.c-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
}

.c-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 0.25rem;
  background-color: transparent;
  border: 1px solid var(--p-color);
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

.c-checkbox input:checked ~ .checkmark {
  background: var(--p-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.c-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.c-checkbox .checkmark:after {
  left: 5px;
  top: 0;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.error-text {
  font-size: 13px;
  font-weight: 500;
}
/*-Header-*/
/* header {
  height: 90px;
} */
/* .top-header {
  margin-bottom: 20px;
} */
.navbar-toggler {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.navbar-light .navbar-toggler {
  border-color: var(--s-color);
}
.c-navbar {
  padding: 0.3rem 1rem;
  background-color: var(--p-color);
  background-image: url(../images/bg-corona.jpg);
  background-position: bottom center;
  background-repeat: repeat;
  background-attachment: initial;
  background-size: auto;
}
.c-navbar h4 {
  font-size: 18px !important;
}
/* .c-navbar .navbar-collapse {
  border-bottom: 2px solid var(--p-color);
} */
.c-logo {
  color: var(--tb-color);
  z-index: 10000;
}
.c-logo p {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.c-logo p > small {
  position: relative;
}
.c-navbar .nav-item > .nav-link {
  padding: 0.25rem 7px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  color: #fcfcfd;
  text-transform: uppercase;
  margin-right: 2px;
  /* border-right: 1px solid #d5d5d5; */
}
.c-navbar .nav-item:last-child > .nav-link {
  margin-right: 0 !important;
}
.c-navbar .nav-item > .nav-link i {
  font-size: 16px;
  margin-right: 0;
}
.c-navbar .nav-item {
  /* border-top: 2px solid transparent; */
  transition: 0.3s all linear;
}
/* .c-navbar .nav-item.active,
.c-navbar .nav-item:hover {
  border-top: 2px solid #fff;
  background: #fff;
} */

.c-navbar .nav-item.active > .nav-link,
.c-navbar .nav-item > .nav-link:hover,
.c-navbar .nav-item > .nav-link:focus,
.c-navbar .nav-item > .nav-link:active {
  color: var(--p-color);
  background: #fcfcfd;
  border-radius: 0;
}
.c-navbar .nav-item.dropdown > .nav-link.profile-dropdown,
.c-navbar .nav-item.dropdown > .nav-link.profile-dropdown:hover,
.c-navbar .nav-item.dropdown > .nav-link.profile-dropdown:focus,
.c-navbar .nav-item.dropdown > .nav-link.profile-dropdown:active {
  color: #fcfcfd !important;
  background: none !important;
  border: none !important;
}
.avatar {
  margin-right: 5px;
  width: 35px;
  white-space: nowrap;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
.avatar i {
  position: absolute;
  right: 0px;
  bottom: 2px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.avatar img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 1000px;
}
.profile-dropdown .user-name {
  display: inline-block;
  margin-bottom: 0.4rem;
  margin-left: 0;
  font-weight: 600;
}
.dropdown-menu {
  font-size: 14px;
  padding: 0;
}
.dropdown-item {
  padding: 0.25rem 1rem;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
  background: var(--p-color);
  color: #fff;
}
.dropdown-divider {
  margin: 0;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.3em;
  vertical-align: 0.2em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
/*--navbar-custom-bg--*/
.bg-custom {
  overflow: hidden;
}

.bg-custom:after {
  content: "";
  width: 51%;
  height: 60px;
  position: absolute;
  left: -40%;
  top: 0;
  background: #fefefe;
  z-index: 0;
}
.bg-custom:before {
  content: "";
  border-width: 60px 60px 0 0;
  border-style: solid;
  border-color: #fefefe transparent transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: 11%;
  top: 0;
}
.front-logo {
  position: relative;
  z-index: 9;
}
/*--Some New--*/
.c-logo {
  position: relative;
  z-index: 1000;
}
.c-logo span.text-white {
  color: var(--p-color) !important;
}
.bg-custom {
  overflow: hidden;
}

.bg-custom:after {
  content: "";
  width: 50%;
  height: 70px;
  position: absolute;
  left: -36%;
  top: 0;
  background: #fefefe;
  z-index: 0;
}
.bg-custom:before {
  content: "";
  border-width: 70px 70px 0 0;
  border-style: solid;
  border-color: #fefefe transparent transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: 14%;
  top: 0;
}
/* .bg-custom:before {
  content: "";
  background: url("https://i.ibb.co/zrN1sr3/header-white-trangle.png") no-repeat
    center left;
  height: 70px;
  width: 75px;
  position: absolute;
  left: 18%;
  top: 0;
} */

.front-logo {
  position: relative;
  z-index: 9;
}
/*--Login Page--*/
.login-image {
  padding: 15px 0 55px 0;
  /* background: var(--teal-color); */
}
.login-image span {
  font-size: 1.6rem !important;
  display: inline-flex;
  position: relative;
}
.login-image span > small {
  position: absolute;
  top: 35px;
  font-size: 13px;
  left: 15px;
  width: auto;
  text-align: center;
  text-shadow: none;
  font-weight: 600;
  padding-top: 3px;
}
#login {
  margin-top: -70px;
  border-radius: 0.75rem;
}
.login-card .login-image + .card-body {
  /* background: #fefefe; */
  padding-bottom: 1.5rem;
  margin: 0 1rem;
}
#login .card-body {
  padding: 1.3rem;
  box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
  border-radius: 0.75rem;
  border: 1px solid var(--p-color);
}
.login-title {
  border-bottom: 1px solid #444;
  line-height: 0.3em;
  text-align: center;
  margin-bottom: 30px;
}
.login-title span {
  font-size: 16px;
  color: #111;
  font-weight: 600;
  background: #fff;
  padding: 0 10px;
  vertical-align: middle;
}
.login-card {
  border: 2px solid var(--teal-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 14px 1px rgba(9, 9, 9, 0.2);
}
.login-form .input-group .input-group-text {
  /* border-radius: 1rem 0 0 1rem; */
  background: none;
  border-color: var(--p-color);
}
.login-form .input-group .input-group-text i {
  color: var(--p-color);
  font-size: 14px;
  vertical-align: middle;
}
.login-form .input-group input {
  /* border-radius: 0 1rem 1rem 0; */
  border-left: 0;
  border-color: var(--p-color);
}

.login-form .c-checkbox .checkmark {
  border-radius: 25%;
  height: 17px;
  width: 17px;
  top: 3px;
}
.login-form .c-checkbox .checkmark:after {
  top: 1px;
}

.login-body {
  background: url("../images/bg-login.jpg") no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
}
/* .login-body::before {
  content: "";
  background: rgba(15, 15, 15, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  min-height: 100vh;
} */

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}
.login-title {
  position: relative;
}
.login-form .c-input-group > .input-group-prepend .input-group-prepend {
  background: var(--p-color);
}
#login + p.text-center {
  font-size: 14px;
}
.forgot-pwd {
  font-size: 14px;
  font-weight: 400;
}
/*-Main Content-*/
.form-wrapper {
  min-height: calc(100% - 101px);
  /* background: #fff; */
}
.main-wrapper {
  padding: 20px 0;
}
.dashboard-status {
  position: relative;
}
.dashboard-status .card {
  position: relative;
  margin-bottom: 20px;
}
.dashboard-status .card::before {
  content: "";
  position: absolute;
  left: 2%;
  bottom: 5%;
  background: url("../images/icon-corona-white.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  height: 85%;
  width: 100%;
  opacity: 0.45;
}
.dashboard-status .card {
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  border-radius: 0;
  margin-bottom: 16px;
}
.dashboard-status .card > .card-body {
  padding: 13px 10px;
}
.pull-up {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.pull-up:hover {
  -webkit-transform: translateY(-4px) scale(1.02);
  -moz-transform: translateY(-4px) scale(1.02);
  -ms-transform: translateY(-4px) scale(1.02);
  -o-transform: translateY(-4px) scale(1.02);
  transform: translateY(-4px) scale(1.02);
  -webkit-box-shadow: 0 14px 24px rgba(62, 57, 107, 0.2);
  box-shadow: 0 14px 24px rgba(62, 57, 107, 0.2);
  z-index: 30;
}
.count {
  font-size: 30px;
  font-weight: 600;
  margin-left: 60px;
}
.count sub > small {
  font-size: 70%;
}
.desc {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.desc + p {
  font-size: 16px;
}
.media-right-icon {
  /* color: rgba(255, 255, 255, 0.95); */
  /* text-shadow: 0 4px rgba(0, 0, 0, 0.35); */
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
  -moz-transition: 0.8s all ease;
  -ms-transition: 0.8s all ease;
  -o-transition: 0.8s all ease;
}
.pull-up:hover > .card-content > .card-body > .media > .media-right-icon {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}
/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}
.bg-gray {
  background-color: #eaeaec !important;
}

.bg-black {
  background-color: #222222 !important;
}

.bg-red {
  background-color: #f56954 !important;
}

.bg-yellow {
  background-color: #f39c12 !important;
}

.bg-aqua {
  background-color: #00c0ef !important;
}

.bg-blue {
  background-color: #0073b7 !important;
}

.bg-light-blue {
  background-color: #3c8dbc !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-navy {
  background-color: #001f3f !important;
}

.bg-olive {
  background-color: #3d9970 !important;
}

.bg-orange {
  background-color: #ff851b !important;
}

.bg-purple {
  background-color: #932ab6 !important;
}

.bg-maroon {
  background-color: #85144b !important;
}
/* Text colors */
.text-red {
  color: #f56954 !important;
}

.text-yellow {
  color: #f39c12 !important;
}

.text-aqua {
  color: #00c0ef !important;
}

.text-blue {
  color: #0073b7 !important;
}

.text-light-blue {
  color: #3c8dbc !important;
}

.text-green {
  color: #00a65a !important;
}

.text-navy {
  color: #001f3f !important;
}

.text-olive {
  color: #3d9970 !important;
}

.text-orange {
  color: #ff851b !important;
}

.text-purple {
  color: #932ab6 !important;
}

.text-maroon {
  color: #85144b !important;
}
/*---*/
.newslist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.newslist li .date::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  color: var(--s-color);
  margin-right: 5px;
  font-weight: 900;
}

.newslist li:first-child {
  padding-top: 0;
}

.newslist li {
  border-bottom: 1px dashed #aeaeae;
  padding: 10px 15px;
  margin: 0 -15px;
}

.newslist li .date {
  font-weight: 600;
  color: #222;
  font-size: 16px;
  position: relative;
}

.newslist li .download-attachment {
  color: #e63232;
  font-weight: 600;
}

.newslist li > .content {
  margin: 5px 0 0 0;
  padding: 0 0 0 15px;
  color: #353535;
}

.blinking-text {
  -moz-animation: blink 1s infinite ease;
  -webkit-animation: blink 1s infinite ease;
  animation: blink 1s infinite ease;
}
@-webkit-keyframes blink {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
@-moz-keyframes blink {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
@keyframes blink {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
/*-Footer-*/
.footer-content {
  background: var(--p-color);
  color: #fefefe;
  padding: 5px 1rem;
}
.footer-content p {
  margin: 0;
}
.footer-content p > a {
  color: #fff;
}
.footer-content strong {
  font-weight: 600;
}
/*--photo-gallery--*/
.photo-fancy-card {
  position: relative;
  border: 0px solid #eaeaea !important;
}
.photo-fancy-card a {
  position: relative;
}
figure.img-fig {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  margin: 0;
}
.img-fig img {
  display: block;
  opacity: 1;
  position: relative;
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  transform: scale(1);
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  object-fit: cover;
}
.img-fig figcaption {
  backface-visibility: hidden;
}
.img-fig figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.img-fig figcaption h5 {
  font-size: 16px;
  padding: 15px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  opacity: 0;
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
.img-fig:hover {
  background: none repeat scroll 0 0 #252525;
}
.img-fig:hover img {
  opacity: 0.4;
  transform: scale(1.15);
  filter: blur(2px);
}
.img-fig:hover figcaption h5 {
  opacity: 1;
  transform: scale(1);
}
/*----Fieldset----*/
sub {
  bottom: -0.15rem;
}
.custom-fieldset {
  border: 1px solid var(--p-color) !important;
  padding: 0.5rem 1rem 1rem !important;
  margin: 0 0 15px 0;
  border-radius: 0;
  background: #fff;
}

.custom-fieldset legend {
  font-size: 20px !important;
  font-weight: 600 !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  color: var(--p-color);
  margin: 0;
}
.verticle-hr {
  border-left: 1px solid #fff;
  margin: 0 10px;
}
.fieldset-body {
  padding: 0;
}
.fieldset-footer {
  padding: 1rem 0 0 0;
}
/*----Components----*/
.collapse-title.collapsed::after {
  content: "\f067";
  position: absolute;
  top: 10px;
  right: 15px;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

.collapse-title::after {
  content: "\f068";
  position: absolute;
  top: 10px;
  right: 15px;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}
/*--Datatable--*/
div#DataTables_Table_0_filter {
  margin-bottom: 10px;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin-top: 10px;
}

.dataTables_filter input,
.dataTables_length select {
  padding: 0;
  border-bottom: 3px solid var(--s-color) !important;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  width: auto;
  font-size: 14px;
  outline: none;
}

.mytable.table.dataTable {
  margin: 15px 0 !important;
}

.dataTables_paginate .pagination > .active > a,
.dataTables_paginate .pagination > .active > a:focus,
.dataTables_paginate .pagination > .active > a:hover,
.dataTables_paginate .pagination > .active > span,
.dataTables_paginate .pagination > .active > span:focus,
.dataTables_paginate .pagination > .active > span:hover {
  background: var(--s-color);
  color: #fff;
  border-color: var(--s-color);
}

.dataTables_paginate .pagination > li > a,
.pagination > li > span {
  color: var(--s-color);
  padding: 0.3rem 0.65rem;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 50px;
}
.paginate_button.previous > a,
.paginate_button.next > a {
  border: 0;
  font-weight: 500;
  color: #222 !important;
  background: transparent !important;
  box-shadow: none;
}
.dataTables_paginate .pagination > .active > a,
.dataTables_paginate .pagination > .active > a:focus,
.dataTables_paginate .pagination > .active > a:hover,
.dataTables_paginate .pagination > .active > span,
.dataTables_paginate .pagination > .active > span:focus,
.dataTables_paginate .pagination > .active > span:hover {
  border-radius: 4px;
}
/*---*/
.form-horizontal.form-bordered {
  border: 1px solid rgba(0, 0, 0, 0.27);
}
div.form-horizontal > .form-group.row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
  margin: 0;
  /* background: #f7f7f7; */
}
.form-horizontal .form-group.row:last-child {
  border-bottom: none;
}
.control-label {
  text-align: left !important;
  margin: 0;
  padding: 5px 15px !important;
  border-right: 0px solid rgba(0, 0, 0, 0.27);
  border-left: 0px solid rgba(0, 0, 0, 0.27);
  font-weight: 500;
  background: #f6f6f6;
  font-size: 14px;
}
.control-label span {
  font-size: 18px !important;
  font-weight: 600;
  vertical-align: middle;
}
.control-form {
  line-height: 1;
  padding: 5px 15px;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.27);
}
.control-error {
  padding: 5px 15px;
}
.control-error span {
  vertical-align: middle;
}
.checkbox-inline {
  padding: 5px 0;
}
div.form-horizontal.form-bordered .form-control {
  background: #f9f9f9;
}
div.form-horizontal.form-bordered .custom-file-input,
div.form-horizontal.form-bordered .custom-file-label {
  background: #f9f9f9;
}
div.form-horizontal.form-bordered
  .select2-container--default
  .select2-selection--single {
  background: #f9f9f9;
}
/*--Select2--*/
.select2-container {
  width: 100% !important;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: var(--p-color);
  color: white;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  outline: 0 !important;
}
.select2-container .select2-selection--single {
  height: calc(1.5em + 0.49rem + 0px) !important;
  border: 1px solid #bbbbbb;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #333;
  line-height: calc(1.5em + 0.49rem + 0px);
  font-size: 14px;
}
.select2-results__option {
  font-size: 14px;
  color: #333;
  padding: 4px;
}
/*-DatePicker-*/
.bootstrap-datetimepicker-widget {
  font-size: 14px !important;
}
.bootstrap-datetimepicker-widget table th {
  line-height: 25px;
  height: 25px;
}
.bootstrap-datetimepicker-widget table td {
  padding: 3px;
}
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 2px 2.5px;
  cursor: pointer;
  border-radius: 4px;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  display: block;
  margin: 2px 0;
  padding: 5px;
  width: auto;
  min-width: 12rem;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active {
  background: var(--p-color);
}
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  border: 1px solid #dee2e6;
}
.bootstrap-datetimepicker-widget .timepicker table td,
.bootstrap-datetimepicker-widget .timepicker table th {
  border: 0 !important;
}
.bootstrap-datetimepicker-widget .timepicker table td {
  padding: 0;
}
/*--Progress Bar--*/
.progress {
  margin-bottom: 1rem;
  height: 0.75rem;
}
.progress:last-child {
  margin-bottom: 0;
}

/*-----*/
.status-block {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.status-block::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/icon-corona.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  height: 60%;
  width: 100%;
  opacity: 0.1;
}
/* .status-block::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../images/icon-corona.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  opacity: 0.1;
} */
.status-digit {
  padding: 0.75rem 1rem;
}
.status-digit h4 {
  font-size: 30px;
}
.status-name {
  padding: 0.3rem 0.5rem;
  color: #fff;
}
.status-name h5 {
  font-size: 14px;
  font-weight: 600;
}
.status-block.alert-danger .bg-danger {
  background: #721c24 !important;
}
.status-block.alert-warning {
  color: #eb8811 !important;
}
.status-block.alert-warning .bg-warning {
  background: #eb8811 !important;
}
.status-block.alert-success .bg-success {
  background: #155724 !important;
}
.status-block.alert-primary .bg-primary {
  background: #004085 !important;
}
@media (max-width: 576px) {
  .col.custom-col {
    flex-basis: auto !important;
    max-width: 50% !important;
  }
  .status-name {
    padding: 0.3rem 0.7rem;
  }
}
/*-----Media Query-----*/
@media (max-width: 1365px) and (min-width: 992px) {
  .bg-custom::before {
    left: 20%;
  }
  .bg-custom::after {
    left: -30%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bg-custom::before {
    left: 25%;
  }
  .bg-custom::after {
    left: -25%;
  }
  .system-title {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .bg-custom {
    display: none;
  }
  .c-logo span.text-white {
    color: #fff !important;
    font-size: 1.1rem;
  }
  .system-title {
    font-size: 1rem;
  }
  .profile-dropdown .user-name {
    font-size: 14px;
  }
}
@media (max-width: 696px) {
  .system-title {
    display: none;
  }
}
@media (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block !important;
  }
  .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
}

@media (max-width: 991px) {
  .c-navbar {
    padding: 0.25rem 1rem !important;
  }
  .c-navbar .nav-item > .nav-link {
    border-right: 0;
  }
}

@media (min-width: 300px) {
  .top-header .navbar-nav .dropdown-menu {
    position: absolute !important;
    z-index: 100000;
  }
}

@media (max-width: 639px) {
  .c-navbar .navbar-brand {
    margin: 0 auto;
    text-align: center;
  }
  .c-navbar img {
    height: 60px !important;
  }
  .c-navbar h4 {
    text-align: center;
    font-size: 16px !important;
  }
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding: 0 5px !important;
  }
  .dashboard-status .card .card-body {
    padding: 10px;
  }
  .count {
    font-size: 30px;
  }
  .desc {
    font-size: 18px;
  }
  .desc + p {
    font-size: 13px;
    margin-top: 2px !important;
  }
  .card-title {
    font-size: 14px;
  }
  .table td,
  .table th {
    padding: 0.15rem;
    font-size: 12px;
  }
}

.ticker-text {
  font-size: 14px;
}
.marquee {
  width: 100%;
  overflow: hidden;
}
