/* Main CSS*/
body {
    min-height: 100vh;
    /*background-color: lightblue;*/
}

.wrapper {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.bg-sugar-cane {
    background-color: #f8fff2;
}

.bg-firefly {
    background-color: #0E2737;
}

.bg-light-black {
    background-color: #1C1F18;
}

.text-java {
    color: #1CC4C0;
}

.text-violet {
    color: #621FA2;
}

.text-orange {
    color: #FF8100;
}

.bg-java {
    background-color: #1CC4C0;
}

.bg-remove {
    background-color: transparent !important;
}

.text-sushi {
    color: #94c045;
}

.bg-sushi {
    background-color: #94c045;
}

.bg-misty-rose {
    background-color: #FFE4E1;
}

.bg-image-login {
    background-image: url(Images/TSM.jpg); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 600px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.text-shadow-dark {
    text-shadow: 1px 1px 1px #000000;
}

ul#sameline li {
    display: inline;
}

/*Tweet Container Scroller*/

.tweet-container {
    height: 500px;
    overflow-y: scroll;
}

/* Gradient transparent - color - transparent */
hr.style-grad {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
        font-size: 80px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h2.sitename {
        font-size: 20px;
    }

    h3.sitename {
        font-size: 15px;
    }
}

.bg-grad-custom {
    background: rgba(246,246,246,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 100%);
    background: radial-gradient(ellipse at center, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=1 );
}

.bg-link-water {
    background-color: #DFEEF6;
}

.bg-catskill-white {
    background-color: #EFF3F7;
}
/*Font Awesome Icon Customization*/
.fa-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.fa-2x {
    vertical-align: middle;
}

/*Border Styles*/
.border-4 {
    border-width: 4px !important;
}


/*<hr /> Styles*/
hr.double {
    border-top: 3px double #8c8b8b;
}

hr.solid-1 {
    border-top: 1px solid #8c8b8b;
}

/*CSS for Button over Image*/
.img-wrapper {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

    .img-overlay:before {
        content: ' ';
        display: block;
        /* adjust 'height' to position overlay content vertically */
        height: 50%;
    }


/*CSS for Rounded Button*/
.btn-round {
    border-radius: 18px;
}

/* rectangle  list style                  */

/* list */
.rectangle-list ol {
    counter-reset: li; /* Initiate a counter */
    margin-left: 0; /* Remove the default left margin */
    padding-left: 0; /* Remove the default left padding */
}

    /* item  */
    .rectangle-list ol > li {
        position: relative;
        list-style: none; /* Disable the normal item numbering */
    }

/* item hover */
.rectangle-list p {
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

    /* item hover */
    .rectangle-list p:hover {
        background: #CDE8F8;
        /*color:white;*/
    }

    /* number  */
    .rectangle-list p:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -2.5em;
        top: 50%;
        margin-top: -1em;
        background: #CDE8F8;
        height: 2em;
        width: 2em;
        line-height: 2em;
        text-align: center;
        font-weight: bold;
    }

    /* number hover */
    .rectangle-list p:after {
        position: absolute;
        left: -1em;
        top: 50%;
        margin-top: -.5em;
        content: '';
        border: .5em solid transparent;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

    .rectangle-list p:hover:after {
        left: -.5em;
        border-left-color: #CDE8F8;
    }
