@font-face {
    font-family: 'icomoon-new';
    src: url('../fonts/icomoon-new.eot?n9dzv1');
    src: url('../fonts/icomoon-new.eot?n9dzv1#iefix') format('embedded-opentype'), url('../fonts/icomoon-new.ttf?n9dzv1') format('truetype'), url('../fonts/icomoon-new.woff?n9dzv1') format('woff'), url('../fonts/icomoon-new.svg?n9dzv1#icomoon-new') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="iconnew-"],
[class*=" iconnew-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon-new' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconnew-share1:before {
    content: "\eb21";
}

.iconnew-whatsapp:before {
    content: "\eb22";
}


/* old */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?757bky');
    src: url('../fonts/icomoon.eot?757bky#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?757bky') format('truetype'), url('../fonts/icomoon.woff?757bky') format('woff'), url('../fonts/icomoon.svg?757bky#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-multimedia:before {
    content: "\eb15";
}

.icon-email1:before {
    content: "\eb16";
}

.icon-global:before {
    content: "\eb14";
}

.icon-healthy:before {
    content: "\eb12";
}

.icon-goal-svgrepo-com:before {
    content: "\eb13";
}

.icon-patient-history:before {
    content: "\eb0e";
}

.icon-govt-initiatives:before {
    content: "\eb0f";
}

.icon-covid-hospitals:before {
    content: "\eb10";
}

.icon-health-advisories:before {
    content: "\eb11";
}

.icon-Call_centre:before {
    content: "\eb0a";
}

.icon-dashboard:before {
    content: "\eb0b";
}

.icon-Home_qurantine:before {
    content: "\eb0c";
}

.icon-Infection:before {
    content: "\eb18";
}

.icon-Qurantine_facility:before {
    content: "\eb19";
}

.icon-registration:before {
    content: "\eb1a";
}

.icon-testing:before {
    content: "\eb1b";
}

.icon-agenda:before {
    content: "\e900";
}

.icon-alarm-clock:before {
    content: "\e901";
}

.icon-alert:before {
    content: "\e902";
}

.icon-align-center:before {
    content: "\e903";
}

.icon-align-justify:before {
    content: "\e904";
}

.icon-align-left:before {
    content: "\e905";
}

.icon-align-right:before {
    content: "\e906";
}

.icon-anchor:before {
    content: "\e907";
}

.icon-android:before {
    content: "\e908";
}

.icon-angle-double-down:before {
    content: "\e909";
}

.icon-angle-double-left:before {
    content: "\e90a";
}

.icon-angle-double-right:before {
    content: "\e90b";
}

.icon-angle-double-up:before {
    content: "\e90c";
}

.icon-angle-down:before {
    content: "\e90d";
}

.icon-angle-left:before {
    content: "\e90e";
}

.icon-angle-right:before {
    content: "\e90f";
}

.icon-angle-up:before {
    content: "\e910";
}

.icon-announcement:before {
    content: "\e911";
}

.icon-apple:before {
    content: "\e912";
}

.icon-archive:before {
    content: "\e913";
}

.icon-arrow:before {
    content: "\e914";
}

.icon-arrow-circle-down:before {
    content: "\e915";
}

.icon-arrow-circle-left:before {
    content: "\e916";
}

.icon-arrow-circle-right:before {
    content: "\e917";
}

.icon-arrow-circle-up:before {
    content: "\e918";
}

.icon-arrow-down1:before {
    content: "\e919";
}

.icon-arrow-left1:before {
    content: "\e91a";
}

.icon-arrow-right1:before {
    content: "\e91b";
}

.icon-arrows-corner:before {
    content: "\e91c";
}

.icon-arrows-horizontal:before {
    content: "\e91d";
}

.icon-arrows-vertical:before {
    content: "\e91e";
}

.icon-arrow-top-left:before {
    content: "\e91f";
}

.icon-arrow-top-right:before {
    content: "\e920";
}

.icon-arrow-up1:before {
    content: "\e921";
}

.icon-back-left:before {
    content: "\e922";
}

.icon-back-right:before {
    content: "\e923";
}

.icon-bag:before {
    content: "\e924";
}

.icon-bar-chart:before {
    content: "\e925";
}

.icon-bar-chart-alt:before {
    content: "\e926";
}

.icon-basketball:before {
    content: "\e927";
}

.icon-bell:before {
    content: "\e928";
}

.icon-blackboard:before {
    content: "\e929";
}

.icon-bolt:before {
    content: "\e92a";
}

.icon-bolt-alt:before {
    content: "\e92b";
}

.icon-book1:before {
    content: "\e92c";
}

.icon-bookmark1:before {
    content: "\e92d";
}

.icon-bookmark-alt:before {
    content: "\e92e";
}

.icon-briefcase1:before {
    content: "\e92f";
}

.icon-brush:before {
    content: "\e930";
}

.icon-brush-alt:before {
    content: "\e931";
}

.icon-calendar:before {
    content: "\e932";
}

.icon-camera1:before {
    content: "\e933";
}

.icon-car1:before {
    content: "\e934";
}

.icon-check:before {
    content: "\e935";
}

.icon-check-box:before {
    content: "\e936";
}

.icon-clip:before {
    content: "\e937";
}

.icon-clipboard:before {
    content: "\e938";
}

.icon-close:before {
    content: "\e939";
}

.icon-cloud1:before {
    content: "\e93a";
}

.icon-cloud-down:before {
    content: "\e93b";
}

.icon-cloud-up:before {
    content: "\e93c";
}

.icon-comment:before {
    content: "\e93d";
}

.icon-comment-alt:before {
    content: "\e93e";
}

.icon-comments:before {
    content: "\e93f";
}

.icon-comments-smiley:before {
    content: "\e940";
}

.icon-control-backward:before {
    content: "\e941";
}

.icon-control-eject:before {
    content: "\e942";
}

.icon-control-forward:before {
    content: "\e943";
}

.icon-control-pause:before {
    content: "\e944";
}

.icon-control-play:before {
    content: "\e945";
}

.icon-control-record:before {
    content: "\e946";
}

.icon-control-shuffle:before {
    content: "\e947";
}

.icon-control-skip-backward:before {
    content: "\e948";
}

.icon-control-skip-forward:before {
    content: "\e949";
}

.icon-control-stop:before {
    content: "\e94a";
}

.icon-credit-card:before {
    content: "\e94b";
}

.icon-crown:before {
    content: "\e94c";
}

.icon-css3:before {
    content: "\e94d";
}

.icon-cup:before {
    content: "\e94e";
}

.icon-cut:before {
    content: "\e94f";
}

.icon-dashboard1:before {
    content: "\e950";
}

.icon-desktop:before {
    content: "\e951";
}

.icon-direction:before {
    content: "\e952";
}

.icon-direction-alt:before {
    content: "\e953";
}

.icon-download1:before {
    content: "\e954";
}

.icon-dribbble:before {
    content: "\e955";
}

.icon-dropbox:before {
    content: "\e956";
}

.icon-dropbox-alt:before {
    content: "\e957";
}

.icon-drupal:before {
    content: "\e958";
}

.icon-email:before {
    content: "\e959";
}

.icon-envelope1:before {
    content: "\e95a";
}

.icon-eraser:before {
    content: "\e95b";
}

.icon-exchange-vertical:before {
    content: "\e95c";
}

.icon-export:before {
    content: "\e95d";
}

.icon-eye1:before {
    content: "\e95e";
}

.icon-facebook:before {
    content: "\e95f";
}

.icon-face-sad:before {
    content: "\e960";
}

.icon-face-smile:before {
    content: "\e961";
}

.icon-file:before {
    content: "\e962";
}

.icon-files:before {
    content: "\e963";
}

.icon-filter:before {
    content: "\e964";
}

.icon-flag1:before {
    content: "\e965";
}

.icon-flag-alt:before {
    content: "\e966";
}

.icon-flag-alt-2:before {
    content: "\e967";
}

.icon-flickr:before {
    content: "\e968";
}

.icon-flickr-alt:before {
    content: "\e969";
}

.icon-folder:before {
    content: "\e96a";
}

.icon-fullscreen:before {
    content: "\e96b";
}

.icon-gallery:before {
    content: "\e96c";
}

.icon-game:before {
    content: "\e96d";
}

.icon-gift1:before {
    content: "\e96e";
}

.icon-github:before {
    content: "\e96f";
}

.icon-google:before {
    content: "\e970";
}

.icon-hand-drag:before {
    content: "\e971";
}

.icon-hand-open:before {
    content: "\e972";
}

.icon-hand-point-down:before {
    content: "\e973";
}

.icon-hand-point-left:before {
    content: "\e974";
}

.icon-hand-point-right:before {
    content: "\e975";
}

.icon-hand-point-up:before {
    content: "\e976";
}

.icon-hand-stop:before {
    content: "\e977";
}

.icon-harddrive:before {
    content: "\e978";
}

.icon-harddrives:before {
    content: "\e979";
}

.icon-headphone:before {
    content: "\e97a";
}

.icon-headphone-alt:before {
    content: "\e97b";
}

.icon-heart1:before {
    content: "\e97c";
}

.icon-heart-broken:before {
    content: "\e97d";
}

.icon-help:before {
    content: "\e97e";
}

.icon-help-alt:before {
    content: "\e97f";
}

.icon-home1:before {
    content: "\e980";
}

.icon-html5:before {
    content: "\e981";
}

.icon-hummer:before {
    content: "\e982";
}

.icon-id-badge:before {
    content: "\e983";
}

.icon-image:before {
    content: "\e984";
}

.icon-import:before {
    content: "\e985";
}

.icon-infinite:before {
    content: "\e986";
}

.icon-info:before {
    content: "\e987";
}

.icon-info-alt:before {
    content: "\e988";
}

.icon-ink-pen:before {
    content: "\e989";
}

.icon-instagram:before {
    content: "\e98a";
}

.icon-Italic:before {
    content: "\e98b";
}

.icon-joomla:before {
    content: "\e98c";
}

.icon-jsfiddle:before {
    content: "\e98d";
}

.icon-key:before {
    content: "\e98e";
}

.icon-layers1:before {
    content: "\e98f";
}

.icon-layers-alt:before {
    content: "\e990";
}

.icon-layout:before {
    content: "\e991";
}

.icon-layout-accordion-list:before {
    content: "\e992";
}

.icon-layout-accordion-merged:before {
    content: "\e993";
}

.icon-layout-accordion-separated:before {
    content: "\e994";
}

.icon-layout-column2:before {
    content: "\e995";
}

.icon-layout-column2-alt:before {
    content: "\e996";
}

.icon-layout-column3:before {
    content: "\e997";
}

.icon-layout-column3-alt:before {
    content: "\e998";
}

.icon-layout-column4:before {
    content: "\e999";
}

.icon-layout-column4-alt:before {
    content: "\e99a";
}

.icon-layout-cta-btn-left:before {
    content: "\e99b";
}

.icon-layout-cta-btn-right:before {
    content: "\e99c";
}

.icon-layout-cta-center:before {
    content: "\e99d";
}

.icon-layout-cta-left:before {
    content: "\e99e";
}

.icon-layout-cta-right:before {
    content: "\e99f";
}

.icon-layout-grid2:before {
    content: "\e9a0";
}

.icon-layout-grid2-alt:before {
    content: "\e9a1";
}

.icon-layout-grid2-thumb:before {
    content: "\e9a2";
}

.icon-layout-grid3:before {
    content: "\e9a3";
}

.icon-layout-grid3-alt:before {
    content: "\e9a4";
}

.icon-layout-grid4:before {
    content: "\e9a5";
}

.icon-layout-grid4-alt:before {
    content: "\e9a6";
}

.icon-layout-line-solid:before {
    content: "\e9a7";
}

.icon-layout-list-large-image:before {
    content: "\e9a8";
}

.icon-layout-list-post:before {
    content: "\e9a9";
}

.icon-layout-list-thumb:before {
    content: "\e9aa";
}

.icon-layout-list-thumb-alt:before {
    content: "\e9ab";
}

.icon-layout-media-center:before {
    content: "\e9ac";
}

.icon-layout-media-center-alt:before {
    content: "\e9ad";
}

.icon-layout-media-left:before {
    content: "\e9ae";
}

.icon-layout-media-left-alt:before {
    content: "\e9af";
}

.icon-layout-media-overlay:before {
    content: "\e9b0";
}

.icon-layout-media-overlay-alt:before {
    content: "\e9b1";
}

.icon-layout-media-overlay-alt-2:before {
    content: "\e9b2";
}

.icon-layout-media-right:before {
    content: "\e9b3";
}

.icon-layout-media-right-alt:before {
    content: "\e9b4";
}

.icon-layout-menu:before {
    content: "\e9b5";
}

.icon-layout-menu-full:before {
    content: "\e9b6";
}

.icon-layout-menu-separated:before {
    content: "\e9b7";
}

.icon-layout-menu-v:before {
    content: "\e9b8";
}

.icon-layout-placeholder:before {
    content: "\e9b9";
}

.icon-layout-sidebar-2:before {
    content: "\e9ba";
}

.icon-layout-sidebar-left:before {
    content: "\e9bb";
}

.icon-layout-sidebar-none:before {
    content: "\e9bc";
}

.icon-layout-sidebar-right:before {
    content: "\e9bd";
}

.icon-layout-slider:before {
    content: "\e9be";
}

.icon-layout-slider-alt:before {
    content: "\e9bf";
}

.icon-layout-tab:before {
    content: "\e9c0";
}

.icon-layout-tab-min:before {
    content: "\e9c1";
}

.icon-layout-tab-v:before {
    content: "\e9c2";
}

.icon-layout-tab-window:before {
    content: "\e9c3";
}

.icon-layout-width-default:before {
    content: "\e9c4";
}

.icon-layout-width-default-alt:before {
    content: "\e9c5";
}

.icon-layout-width-full:before {
    content: "\e9c6";
}

.icon-light-bulb:before {
    content: "\e9c7";
}

.icon-line-dashed:before {
    content: "\e9c8";
}

.icon-line-dotted:before {
    content: "\e9c9";
}

.icon-line-double:before {
    content: "\e9ca";
}

.icon-link1:before {
    content: "\e9cb";
}

.icon-linkedin:before {
    content: "\e9cc";
}

.icon-linux:before {
    content: "\e9cd";
}

.icon-list1:before {
    content: "\e9ce";
}

.icon-list-ol:before {
    content: "\e9cf";
}

.icon-location-arrow:before {
    content: "\e9d0";
}

.icon-location-pin:before {
    content: "\e9d1";
}

.icon-lock1:before {
    content: "\e9d2";
}

.icon-loop:before {
    content: "\e9d3";
}

.icon-magnet:before {
    content: "\e9d4";
}

.icon-map1:before {
    content: "\e9d5";
}

.icon-map-alt:before {
    content: "\e9d6";
}

.icon-marker:before {
    content: "\e9d7";
}

.icon-marker-alt:before {
    content: "\e9d8";
}

.icon-medall:before {
    content: "\e9d9";
}

.icon-medall-alt:before {
    content: "\e9da";
}

.icon-menu1:before {
    content: "\e9db";
}

.icon-menu-alt:before {
    content: "\e9dc";
}

.icon-microphone:before {
    content: "\e9dd";
}

.icon-microphone-alt:before {
    content: "\e9de";
}

.icon-microsoft:before {
    content: "\e9df";
}

.icon-microsoft-alt:before {
    content: "\e9e0";
}

.icon-minus:before {
    content: "\e9e1";
}

.icon-mobile:before {
    content: "\e9e2";
}

.icon-money:before {
    content: "\e9e3";
}

.icon-more:before {
    content: "\e9e4";
}

.icon-more-alt:before {
    content: "\e9e5";
}

.icon-mouse:before {
    content: "\e9e6";
}

.icon-mouse-alt:before {
    content: "\e9e7";
}

.icon-music:before {
    content: "\e9e8";
}

.icon-music-alt:before {
    content: "\e9e9";
}

.icon-na:before {
    content: "\e9ea";
}

.icon-new-window:before {
    content: "\e9eb";
}

.icon-notepad:before {
    content: "\e9ec";
}

.icon-package:before {
    content: "\e9ed";
}

.icon-paint-bucket:before {
    content: "\e9ee";
}

.icon-paint-roller:before {
    content: "\e9ef";
}

.icon-palette:before {
    content: "\e9f0";
}

.icon-panel:before {
    content: "\e9f1";
}

.icon-paragraph:before {
    content: "\e9f2";
}

.icon-pencil1:before {
    content: "\e9f3";
}

.icon-pencil-alt:before {
    content: "\e9f4";
}

.icon-pencil-alt2:before {
    content: "\e9f5";
}

.icon-pie-chart1:before {
    content: "\e9f6";
}

.icon-pin:before {
    content: "\e9f7";
}

.icon-pin2:before {
    content: "\e9f8";
}

.icon-pin-alt:before {
    content: "\e9f9";
}

.icon-pinterest:before {
    content: "\e9fa";
}

.icon-pinterest-alt:before {
    content: "\e9fb";
}

.icon-plug:before {
    content: "\e9fc";
}

.icon-plus:before {
    content: "\e9fd";
}

.icon-power-off:before {
    content: "\e9fe";
}

.icon-printer1:before {
    content: "\e9ff";
}

.icon-pulse:before {
    content: "\ea00";
}

.icon-quote-left:before {
    content: "\ea01";
}

.icon-quote-right:before {
    content: "\ea02";
}

.icon-receipt:before {
    content: "\ea03";
}

.icon-reddit:before {
    content: "\ea04";
}

.icon-reload:before {
    content: "\ea05";
}

.icon-rocket1:before {
    content: "\ea06";
}

.icon-rss:before {
    content: "\ea07";
}

.icon-rss-alt:before {
    content: "\ea08";
}

.icon-ruler:before {
    content: "\ea09";
}

.icon-ruler-alt:before {
    content: "\ea0a";
}

.icon-ruler-alt-2:before {
    content: "\ea0b";
}

.icon-ruler-pencil:before {
    content: "\ea0c";
}

.icon-save:before {
    content: "\ea0d";
}

.icon-save-alt:before {
    content: "\ea0e";
}

.icon-search:before {
    content: "\ea0f";
}

.icon-server:before {
    content: "\ea10";
}

.icon-settings:before {
    content: "\ea11";
}

.icon-share:before {
    content: "\ea12";
}

.icon-share-alt:before {
    content: "\ea13";
}

.icon-sharethis:before {
    content: "\ea14";
}

.icon-sharethis-alt:before {
    content: "\ea15";
}

.icon-shield:before {
    content: "\ea16";
}

.icon-shift-left:before {
    content: "\ea17";
}

.icon-shift-left-alt:before {
    content: "\ea18";
}

.icon-shift-right:before {
    content: "\ea19";
}

.icon-shift-right-alt:before {
    content: "\ea1a";
}

.icon-shine:before {
    content: "\ea1b";
}

.icon-shopping-cart:before {
    content: "\ea1c";
}

.icon-shopping-cart-full:before {
    content: "\ea1d";
}

.icon-shortcode:before {
    content: "\ea1e";
}

.icon-signal:before {
    content: "\ea1f";
}

.icon-skype:before {
    content: "\ea20";
}

.icon-slice:before {
    content: "\ea21";
}

.icon-smallcap:before {
    content: "\ea22";
}

.icon-soundcloud:before {
    content: "\ea23";
}

.icon-split-h:before {
    content: "\ea24";
}

.icon-split-v:before {
    content: "\ea25";
}

.icon-split-v-alt:before {
    content: "\ea26";
}

.icon-spray:before {
    content: "\ea27";
}

.icon-stack-overflow:before {
    content: "\ea28";
}

.icon-stamp:before {
    content: "\ea29";
}

.icon-star1:before {
    content: "\ea2a";
}

.icon-stats-down:before {
    content: "\ea2b";
}

.icon-stats-up:before {
    content: "\ea2c";
}

.icon-support:before {
    content: "\ea2d";
}

.icon-tablet1:before {
    content: "\ea2e";
}

.icon-tag1:before {
    content: "\ea2f";
}

.icon-target:before {
    content: "\ea30";
}

.icon-text:before {
    content: "\ea31";
}

.icon-themify-favicon:before {
    content: "\ea32";
}

.icon-themify-favicon-alt:before {
    content: "\ea33";
}

.icon-themify-logo:before {
    content: "\ea34";
}

.icon-thought:before {
    content: "\ea35";
}

.icon-thumb-down:before {
    content: "\ea36";
}

.icon-thumb-up:before {
    content: "\ea37";
}

.icon-ticket:before {
    content: "\ea38";
}

.icon-time:before {
    content: "\ea39";
}

.icon-timer:before {
    content: "\ea3a";
}

.icon-trash1:before {
    content: "\ea3b";
}

.icon-trello:before {
    content: "\ea3c";
}

.icon-truck:before {
    content: "\ea3d";
}

.icon-tumblr:before {
    content: "\ea3e";
}

.icon-tumblr-alt:before {
    content: "\ea3f";
}

.icon-twitter:before {
    content: "\ea40";
}

.icon-twitter-alt:before {
    content: "\ea41";
}

.icon-underline1:before {
    content: "\ea42";
}

.icon-unlink1:before {
    content: "\ea43";
}

.icon-unlock:before {
    content: "\ea44";
}

.icon-upload1:before {
    content: "\ea45";
}

.icon-uppercase:before {
    content: "\ea46";
}

.icon-user1:before {
    content: "\ea47";
}

.icon-vector:before {
    content: "\ea48";
}

.icon-video-camera:before {
    content: "\ea49";
}

.icon-video-clapper:before {
    content: "\ea4a";
}

.icon-view-grid:before {
    content: "\ea4b";
}

.icon-view-list:before {
    content: "\ea4c";
}

.icon-view-list-alt:before {
    content: "\ea4d";
}

.icon-vimeo:before {
    content: "\ea4e";
}

.icon-vimeo-alt:before {
    content: "\ea4f";
}

.icon-volume1:before {
    content: "\ea50";
}

.icon-wallet:before {
    content: "\ea51";
}

.icon-wand:before {
    content: "\ea52";
}

.icon-wheelchair1:before {
    content: "\ea53";
}

.icon-widget:before {
    content: "\ea54";
}

.icon-widget-alt:before {
    content: "\ea55";
}

.icon-widgetized:before {
    content: "\ea56";
}

.icon-window:before {
    content: "\ea57";
}

.icon-wordpress:before {
    content: "\ea58";
}

.icon-world:before {
    content: "\ea59";
}

.icon-write:before {
    content: "\ea5a";
}

.icon-yahoo:before {
    content: "\ea5b";
}

.icon-youtube:before {
    content: "\ea5c";
}

.icon-zip:before {
    content: "\ea5d";
}

.icon-zoom-in:before {
    content: "\ea5e";
}

.icon-zoom-out:before {
    content: "\ea5f";
}

.icon-alarm:before {
    content: "\ea60";
}

.icon-apartment:before {
    content: "\ea61";
}

.icon-arrow-down:before {
    content: "\ea62";
}

.icon-arrow-down-circle:before {
    content: "\ea63";
}

.icon-arrow-left:before {
    content: "\ea64";
}

.icon-arrow-left-circle:before {
    content: "\ea65";
}

.icon-arrow-right:before {
    content: "\ea66";
}

.icon-arrow-right-circle:before {
    content: "\ea67";
}

.icon-arrow-up:before {
    content: "\ea68";
}

.icon-arrow-up-circle:before {
    content: "\ea69";
}

.icon-bicycle:before {
    content: "\ea6a";
}

.icon-bold:before {
    content: "\ea6b";
}

.icon-book:before {
    content: "\ea6c";
}

.icon-bookmark:before {
    content: "\ea6d";
}

.icon-briefcase:before {
    content: "\ea6e";
}

.icon-bubble:before {
    content: "\ea6f";
}

.icon-bug:before {
    content: "\ea70";
}

.icon-bullhorn:before {
    content: "\ea71";
}

.icon-bus:before {
    content: "\ea72";
}

.icon-calendar-full:before {
    content: "\ea73";
}

.icon-camera:before {
    content: "\ea74";
}

.icon-camera-video:before {
    content: "\ea75";
}

.icon-car:before {
    content: "\ea76";
}

.icon-cart:before {
    content: "\ea77";
}

.icon-chart-bars:before {
    content: "\ea78";
}

.icon-checkmark-circle:before {
    content: "\ea79";
}

.icon-chevron-down:before {
    content: "\ea7a";
}

.icon-chevron-down-circle:before {
    content: "\ea7b";
}

.icon-chevron-left:before {
    content: "\ea7c";
}

.icon-chevron-left-circle:before {
    content: "\ea7d";
}

.icon-chevron-right:before {
    content: "\ea7e";
}

.icon-stay-home:before {
    content: "\eb1c";
}

.icon-chevron-right-circle:before {
    content: "\ea7f";
}

.icon-chevron-up:before {
    content: "\ea80";
}

.icon-chevron-up-circle:before {
    content: "\ea81";
}

.icon-circle-minus:before {
    content: "\ea82";
}

.icon-clock:before {
    content: "\ea83";
}

.icon-cloud:before {
    content: "\ea84";
}

.icon-cloud-check:before {
    content: "\ea85";
}

.icon-cloud-download:before {
    content: "\ea86";
}

.icon-cloud-sync:before {
    content: "\ea87";
}

.icon-cloud-upload:before {
    content: "\ea88";
}

.icon-code:before {
    content: "\ea89";
}

.icon-coffee-cup:before {
    content: "\ea8a";
}

.icon-cog:before {
    content: "\ea8b";
}

.icon-construction:before {
    content: "\ea8c";
}

.icon-crop:before {
    content: "\ea8d";
}

.icon-cross:before {
    content: "\ea8e";
}

.icon-cross-circle:before {
    content: "\ea8f";
}

.icon-database:before {
    content: "\ea90";
}

.icon-diamond:before {
    content: "\ea91";
}

.icon-dice:before {
    content: "\ea92";
}

.icon-dinner:before {
    content: "\ea93";
}

.icon-direction-ltr:before {
    content: "\ea94";
}

.icon-direction-rtl:before {
    content: "\ea95";
}

.icon-download:before {
    content: "\ea96";
}

.icon-drop:before {
    content: "\ea97";
}

.icon-earth:before {
    content: "\ea98";
}

.icon-enter:before {
    content: "\ea99";
}

.icon-enter-down:before {
    content: "\ea9a";
}

.icon-envelope:before {
    content: "\ea9b";
}

.icon-exit:before {
    content: "\ea9c";
}

.icon-exit-up:before {
    content: "\ea9d";
}

.icon-eye:before {
    content: "\ea9e";
}

.icon-file-add:before {
    content: "\ea9f";
}

.icon-file-empty:before {
    content: "\eaa0";
}

.icon-film-play:before {
    content: "\eaa1";
}

.icon-flag:before {
    content: "\eaa2";
}

.icon-frame-contract:before {
    content: "\eaa3";
}

.icon-frame-expand:before {
    content: "\eaa4";
}

.icon-funnel:before {
    content: "\eaa5";
}

.icon-gift:before {
    content: "\eaa6";
}

.icon-graduation-hat:before {
    content: "\eaa7";
}

.icon-hand:before {
    content: "\eaa8";
}

.icon-heart:before {
    content: "\eaa9";
}

.icon-heart-pulse:before {
    content: "\eaaa";
}

.icon-highlight:before {
    content: "\eaab";
}

.icon-history:before {
    content: "\eaac";
}

.icon-home:before {
    content: "\eaad";
}

.icon-hourglass:before {
    content: "\eaae";
}

.icon-inbox:before {
    content: "\eaaf";
}

.icon-indent-decrease:before {
    content: "\eab0";
}

.icon-indent-increase:before {
    content: "\eab1";
}

.icon-italic:before {
    content: "\eab2";
}

.icon-keyboard:before {
    content: "\eab3";
}

.icon-laptop:before {
    content: "\eab4";
}

.icon-laptop-phone:before {
    content: "\eab5";
}

.icon-layers:before {
    content: "\eab6";
}

.icon-leaf:before {
    content: "\eab7";
}

.icon-license:before {
    content: "\eab8";
}

.icon-lighter:before {
    content: "\eab9";
}

.icon-linearicons:before {
    content: "\eaba";
}

.icon-line-spacing:before {
    content: "\eabb";
}

.icon-link:before {
    content: "\eabc";
}

.icon-list:before {
    content: "\eabd";
}

.icon-location:before {
    content: "\eabe";
}

.icon-lock:before {
    content: "\eabf";
}

.icon-magic-wand:before {
    content: "\eac0";
}

.icon-magnifier:before {
    content: "\eac1";
}

.icon-map:before {
    content: "\eac2";
}

.icon-map-marker:before {
    content: "\eac3";
}

.icon-menu:before {
    content: "\eac4";
}

.icon-menu-circle:before {
    content: "\eac5";
}

.icon-mic:before {
    content: "\eac6";
}

.icon-moon:before {
    content: "\eac7";
}

.icon-move:before {
    content: "\eac8";
}

.icon-music-note:before {
    content: "\eac9";
}

.icon-mustache:before {
    content: "\eaca";
}

.icon-neutral:before {
    content: "\eacb";
}

.icon-page-break:before {
    content: "\eacc";
}

.icon-paperclip:before {
    content: "\eacd";
}

.icon-paw:before {
    content: "\eace";
}

.icon-pencil:before {
    content: "\eacf";
}

.icon-phone:before {
    content: "\ead0";
}

.icon-phone-handset:before {
    content: "\ead1";
}

.icon-picture:before {
    content: "\ead2";
}

.icon-pie-chart:before {
    content: "\ead3";
}

.icon-pilcrow:before {
    content: "\ead4";
}

.icon-plus-circle:before {
    content: "\ead5";
}

.icon-pointer-down:before {
    content: "\ead6";
}

.icon-pointer-left:before {
    content: "\ead7";
}

.icon-pointer-right:before {
    content: "\ead8";
}

.icon-pointer-up:before {
    content: "\ead9";
}

.icon-poop:before {
    content: "\eada";
}

.icon-power-switch:before {
    content: "\eadb";
}

.icon-printer:before {
    content: "\eadc";
}

.icon-pushpin:before {
    content: "\eadd";
}

.icon-question-circle:before {
    content: "\eade";
}

.icon-redo:before {
    content: "\eadf";
}

.icon-rocket:before {
    content: "\eae0";
}

.icon-sad:before {
    content: "\eae1";
}

.icon-screen:before {
    content: "\eae2";
}

.icon-select:before {
    content: "\eae3";
}

.icon-shirt:before {
    content: "\eae4";
}

.icon-smartphone:before {
    content: "\eae5";
}

.icon-smile:before {
    content: "\eae6";
}

.icon-sort-alpha-asc:before {
    content: "\eae7";
}

.icon-sort-amount-asc:before {
    content: "\eae8";
}

.icon-spell-check:before {
    content: "\eae9";
}

.icon-star:before {
    content: "\eaea";
}

.icon-star-empty:before {
    content: "\eaeb";
}

.icon-star-half:before {
    content: "\eaec";
}

.icon-store:before {
    content: "\eaed";
}

.icon-strikethrough:before {
    content: "\eaee";
}

.icon-sun:before {
    content: "\eaef";
}

.icon-sync:before {
    content: "\eaf0";
}

.icon-tablet:before {
    content: "\eaf1";
}

.icon-tag:before {
    content: "\eaf2";
}

.icon-text-align-center:before {
    content: "\eaf3";
}

.icon-text-align-justify:before {
    content: "\eaf4";
}

.icon-text-align-left:before {
    content: "\eaf5";
}

.icon-text-align-right:before {
    content: "\eaf6";
}

.icon-text-format:before {
    content: "\eaf7";
}

.icon-text-format-remove:before {
    content: "\eaf8";
}

.icon-text-size:before {
    content: "\eaf9";
}

.icon-thumbs-down:before {
    content: "\eafa";
}

.icon-thumbs-up:before {
    content: "\eafb";
}

.icon-train:before {
    content: "\eafc";
}

.icon-trash:before {
    content: "\eafd";
}

.icon-underline:before {
    content: "\eafe";
}

.icon-undo:before {
    content: "\eaff";
}

.icon-unlink:before {
    content: "\eb00";
}

.icon-upload:before {
    content: "\eb01";
}

.icon-user:before {
    content: "\eb02";
}

.icon-users:before {
    content: "\eb03";
}

.icon-volume:before {
    content: "\eb04";
}

.icon-volume-high:before {
    content: "\eb05";
}

.icon-volume-low:before {
    content: "\eb06";
}

.icon-volume-medium:before {
    content: "\eb07";
}

.icon-warning:before {
    content: "\eb08";
}

.icon-wheelchair:before {
    content: "\eb09";
}

.icon-healthy1:before {
    content: "\eb0d";
}

.icon-plane:before {
    content: "\eb17";
}

.icon-road:before {
    content: "\eb1d";
}

.icon-train1:before {
    content: "\eb1e";
}

.icon-male:before {
    content: "\eb1f";
}

.icon-female:before {
    content: "\eb20";
}

.icon-trainne:before {
    content: "\eb21";
}

.icon-aeropalnenew:before {
    content: "\eb22";
}